<p-toast />

<p-dataview
  [value]="chores()"
  [loading]="loading()"
  [dt]="{ contentBackground: 'transparent', headerBackground: 'transparent' }"
  [style]="{ '--p-paginator-background': 'transparent' }"
>
  @if (!loading()) {
    <ng-template #emptymessage>
      <app-empty-message title="No chores yet" caption="Create your first task to get started.">
      </app-empty-message>
    </ng-template>
  }

  <ng-template #list let-chores>
    <div class="flex flex-wrap justify-center gap-6 lg:justify-start">
      @for (chore of chores; track chore.id) {
        <app-chore-card
          [chore]="chore"
          [closing]="closingChoreIds().includes(chore.id)"
          (closed)="onCloseChore($event)"
        />
      }
    </div>
  </ng-template>
</p-dataview>
