<header
  class="border-border flex items-center justify-between gap-4 border-b bg-neutral-50 px-4 py-2 dark:bg-neutral-900"
>
  <a routerLink="/" class="flex items-center gap-2 no-underline">
    <img src="logo.svg" alt="Logo" class="h-10 w-10" />
    <h1 class="text-3xl font-bold">{{ title() }}</h1>
  </a>

  <div class="flex items-center gap-2">
    <button hlmBtn variant="outline" size="icon" (click)="toggleDarkMode()">
      <ng-icon [name]="darkMode.icon()" />
    </button>
    @if (authService.isAuthenticated()) {
      @if (avatarUrl()) {
        <button hlmBtn variant="ghost" size="icon" class="!p-1" [hlmDropdownMenuTrigger]="userMenu">
          <hlm-avatar>
            <img [src]="avatarUrl()" hlmAvatarImage alt="avatar" />
            <span hlmAvatarFallback>X</span>
          </hlm-avatar>
        </button>
      } @else {
        <button hlmBtn variant="outline" size="icon" [hlmDropdownMenuTrigger]="userMenu">
          <ng-icon name="lucideUser" />
        </button>
      }

      <ng-template #userMenu>
        <hlm-dropdown-menu class="mr-1 max-w-lg">
          <app-user-info
            class="flex w-full p-2 pl-4"
            [name]="userName()"
            [email]="userEmail()"
            [avatarUrl]="avatarUrl()"
          />
          <hlm-dropdown-menu-separator />
          @if (authService.isAdministrator()) {
            <hlm-dropdown-menu-group>
              <a hlmDropdownMenuItem routerLink="/admin/users" class="text-sm">
                <ng-icon name="lucideUsers" />
                Manage users
              </a>
              <a hlmDropdownMenuItem routerLink="/admin/tasks" class="text-sm">
                <ng-icon name="lucideList" />
                Manage tasks
              </a>
            </hlm-dropdown-menu-group>
            <hlm-dropdown-menu-separator />
          }
          <button hlmDropdownMenuItem class="text-sm" (triggered)="onSignOut()">
            <ng-icon name="lucideLogOut" />
            Sign out
          </button>
        </hlm-dropdown-menu>
      </ng-template>
    }
  </div>
</header>
